@import "../../../../assets/styles/_variables";
@import "../../../../assets/styles/_mixins";

.article {
  padding: 80px 0 120px 0;

  .container {

    .article-menu {
      margin-bottom: 60px;

      a {
        text-decoration: none;
        font-size: 16px;
        color: #B9D5FD;
      }

      span {
        @include Montserrat-Medium-16;
        color: $base-title-color;
      }
    }

    .article-head {
      margin-bottom: 40px;
      display: flex;
      justify-content: space-between;

      .article-head-description {
        max-width: 607px;

        .article-head-description-title {
          @include Lora-Regular-38;
          color: $base-title-color;
          margin-bottom: 40px;
          line-height: 130%;
        }

        .article-head-description-text {
          font-size: 20px;
          color: $base-title-color;
          line-height: 130%;
        }
      }

      .article-head-image {
        width: 527px;
        height: 320px;
        border-radius: 5px;
        background-size: cover;
        background-position: center;
      }
    }

    .article-body {
      margin-bottom: 40px;
      display: flex;
      justify-content: space-between;

      ::ng-deep .article-body-text {
        color: $base-text-color;
        line-height: 130%;
        max-width: 818px;

        h3 {
          color: $base-title-color;
          margin-top: 40px;
          margin-bottom: 20px;
        }

        p {
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }

      .article-body-related {
        min-width: 292px;
        padding: 60px 0;

        .article-body-related-title {
          font-family: 'Lora', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 26px;
          color: $base-title-color;
          margin-bottom: 20px;
        }

        .article-body-related-articles {
          display: flex;
          flex-direction: column;
          gap: 60px;
        }
      }
    }

    .article-social {
      display: flex;
      margin-bottom: 60px;

      .article-social-text {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: $base-title-color;
        margin-right: 20px;
      }

      .article-social-icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 14px;

        .article-social-icon {
          cursor: pointer;
        }
      }
    }

    .article-comments {
      margin-bottom: 60px;

      .article-frame {
        margin-bottom: 60px;

        .article-comments-title {
          @include Lora-Regular-38;
          color: $base-title-color;
        }

        .article-comments-post {
          margin-top: 20px;
          color: $base-text-color;

          a {
            color: $base-title-color;
            cursor: pointer;
            text-decoration: none;
          }
        }

        .article-comments-area {
          margin-top: 40px;
          display: flex;
          flex-direction: column;
          gap: 20px;

          .article-comments-area-text {
            padding: 20px;
            box-sizing: border-box;
            width: 818px;
            height: 248px;
            background: #FFFFFF;
            border: 2px solid $base-title-color;
            border-radius: 3px;
            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: $base-text-color;
            outline: none;


            &::placeholder {
              font-family: Montserrat, sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              color: #A8ABA7;
            }
          }

          .article-comments-button {
            max-width: 422px;
          }
        }
      }

      .article-comments-more {
        margin: 60px 0;
        font-size: 20px;
        font-weight: 500;
        color: $base-title-color;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
      }
    }
  }
}
