@import "../../../../assets/styles/auth-form";

.login {
  padding-top: 106px;
  padding-bottom: 92px;

  .container {
    display: flex;
    gap: 185px;

    .auth-form {

      .auth-title {
        margin-top: 14px;
      }

      .auth-checkbox {
        align-items: center;
      }
    }
  }
}
