@import "variables";
@import "mixins";

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.button {
  text-align: center;
  border-radius: 5px;
  background-color: #709FDC;
  color: #fff;
  padding: 15px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  &:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
}

.input {
  box-sizing: border-box;
  padding: 17px 20px;
  border: 2px solid #709FDC;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: $base-text-color;
  outline: none;

  &::placeholder {
    color: #A8ABA7;
  }
}

.mat-menu-panel {
  min-height: unset !important;
  margin-top: 5px;
  border-radius: 5px !important;

  .mat-menu-content {

    &:not(:empty) {
      padding: 0;
    }

    .mat-menu-item {

      &.menu-header {
        text-align: center;
        @include Montserrat-Medium-16;
        min-width: 138px;
      }
    }
  }
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 0;
  position: absolute;
  bottom: 20px;
  right: 575px;
}

.owl-theme .owl-dots .owl-dot {

  span {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    margin: 0 10px;
  }

  &:hover {

    span {
      background-color: transparent;
    }
  }
}

.owl-theme .owl-dots .owl-dot.active span {
  background-color: #FFFFFF;
}


.popup {
  position: fixed;
  z-index: 200;
  background-color: rgba(182, 175, 175, 0.49);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  .popup-window {
    width: 727px;
    height: 489px;
    border: 2px solid $base-title-color;
    border-radius: 10px;
    background-color: #FFFFFF;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: calc(50% - 280px);
    left: calc(50% - 348px);

    .popup-close {
      position: absolute;
      top: 30px;
      right: 30px;
      cursor: pointer;
    }

    .popup-form {
      display: flex;
      flex-direction: column;
      width: 422px;
      gap: 20px;
      align-items: center;

      .popup-form-title {
        @include Lora-Regular-38;
        color: $base-title-color;
        text-align: center;
      }

      .popup-inputs {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;

        .popup-input {
          width: 100%;
          position: relative;

          .select-input {
            width: 100%;
            color: $base-title-color;
            cursor: pointer;
          }

          .popup-select {
            width: 100%;
            position: absolute;
            z-index: 200;
            border: 2px solid #709FDC;
            background-color: #FFFFFF;
            border-radius: 3px;
            box-sizing: border-box;
            top: 59px;

            .popup-select-options {
              margin: 0;
              padding: 0;

              .popup-select-option {
                list-style: none;
                padding: 17px 20px;
                cursor: pointer;

                &:hover {
                  background-color: #709FDC;
                  color: #fff;
                }
              }
            }
          }
        }
      }

      .popup-button {
        position: relative;
        width: 100%;

        button {
          width: 100%;
          padding: 15px;
        }

        .popup-alert-message {
          position: absolute;
          color: red;
          font-size: 12px;
          top: 60px;
        }
      }
    }
  }

  .popup-success {
    display: flex;
    flex-direction: column;
    align-items: center;

    .popup-success-title {
      @include Lora-Regular-38;
      color: $base-title-color;
      margin-bottom: 20px;
    }

    .popup-success-text {
      font-weight: 500;
      margin-bottom: 40px;
    }

    .popup-success-button {

      button {
        padding: 10px 20px;
      }
    }
  }
}

