@import "variables";

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.button {
  border-radius: 5px;
  background-color: #709FDC;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
